html,
body,
div,
span,
applet,
object,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
table,
td,
tr,
th {
  outline: 0;
  font-size: 100%;
}
blockquote,
q {
  quotes: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: blue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
/*--home_slider--*/
.home_slider {
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: -0.3em;
  background-color: #ffc029;
}
.home_slider .slider_prev {
  display: block;
  width: 40px;
  height: 80px;
  background-image: url(../images/slide_left.png);
  background-repeat: no-repeat;
  position: absolute;
  letter-spacing: normal;
  left: 0;
  font-size: 20px;
  margin-top: 160px;
  z-index: 100;
  opacity: .7;
}
.home_slider .slider_prev:hover {
  opacity: .9;
  cursor: pointer;
}
.home_slider .slider_next {
  display: block;
  width: 40px;
  height: 80px;
  background-image: url(../images/slide_right.png);
  background-repeat: no-repeat;
  background-position: 1px 0;
  position: absolute;
  letter-spacing: normal;
  right: 0;
  font-size: 20px;
  z-index: 100;
  margin-top: 160px;
  opacity: .7;
}
.home_slider .slider_next:hover {
  opacity: .9;
  cursor: pointer;
}
.home_slider .left {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 400px;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  left: 40px;
}
.home_slider .right {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  height: 400px;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.home_slider .bxslider1 {
  list-style: none;
  text-align: right;
}
.home_slider .bxslider1 li {
  height: 400px;
}
.home_slider .bxslider1 h2 {
  display: inline-block;
  width: 315px;
  font-family: "RobotoCondensed";
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  color: #343434;
  margin: 50px 86px 30px 0;
  padding: 0;
}
.home_slider .bxslider1 h2 strong {
  font-size: 45px;
  line-height: 60px;
}
.home_slider .bxslider1 h3 {
  margin: 35px 86px 30px 0;
  display: inline-block;
  width: 315px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  color: #343434;
  padding: 0;
}
.home_slider .bxslider1 h3 strong {
  font-size: 36px;
  font-weight: bold;
}
.home_slider .bxslider1 p {
  display: inline-block;
  width: 300px;
  margin: 0 100px 0 0;
  padding: 0;
  color: #343434;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
}
.home_slider .bxslider1 .button {
  display: inline-block;
  text-decoration: none;
  color: #343434;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid #343434;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 30px 250px 0 0;
}
.home_slider .bxslider1 .button:hover {
  color: #fff;
  background: #343434;
  border: 2px solid #2c2c2c;
  cursor: pointer;
}
.home_slider .home_slider__form {
  margin: 0 auto;
  width: 250px;
}
.home_slider .home_slider__form .button {
  margin: 26px auto 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.home_slider .bxslider2 {
  list-style: none;
}
.home_slider .bxslider2 li {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.home_slider .bx-wrapper {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  background: transparent;
}
/*--home_info--*/
.home_info {
  padding: 40px 20px;
  line-height: normal;
}
.home_info .wrap {
  width: 1000px;
}
.home_info .bx-wrapper {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  background: transparent;
}
.home_info .left {
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  width: 470px;
  padding: 30px 10px 30px 20px;
}
.home_info .right {
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  width: 470px;
  padding: 30px 20px 30px 10px;
}
.home_info h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #848484;
}
.home_info h2 .panel {
  float: right;
}
.home_info h2 span {
  cursor: pointer;
}
.home_info h2 .active {
  color: #343434;
  cursor: pointer;
}
.home_info .left .review_prev {
  display: inline-block;
  width: 13px;
  height: 21px;
  background-image: url(../images/arrow_left.png);
  cursor: pointer;
}
.home_info .left .review_prev:hover {
  background-image: url(../images/arrow_left_hover.png);
}
.home_info .sep {
  display: inline-block;
  width: 2px;
  height: 21px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  background-image: url(../images/sep.png);
  background-repeat: no-repeat;
}
.home_info .left .review_next {
  display: inline-block;
  width: 13px;
  height: 21px;
  background-image: url(../images/arrow_right.png);
  cursor: pointer;
}
.home_info .left .review_next:hover {
  background-image: url(../images/arrow_right_hover.png);
}
.home_info .left .review {
  display: block;
  background-image: url(../images/back_review.png);
  background-repeat: no-repeat;
  width: 400px;
  height: 182px;
  overflow: hidden;
  font-style: italic;
  font-size: 15px;
  padding: 30px 35px 0;
  color: #343434;
}
.home_info .left .review .more {
  display: block;
  margin-top: 5px;
  color: #111;
}
.home_info .left .author {
  display: block;
  width: 400px;
  height: 20px;
  margin: 0;
  padding: 0;
  color: #343434;
  font-weight: 400;
  font-size: 13px;
  background-image: url(../images/man.png);
  background-repeat: no-repeat;
  background-position: 50px 0;
  padding-left: 70px;
  padding-top: 4px;
  margin-top: -30px;
}
.home_info .left .author span {
  font-weight: 700;
}
.home_info .left .link {
  display: inline-block;
  text-decoration: none;
  color: #b7b7b7;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid #b7b7b7;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 10px 0 0;
}
.home_info .left .link:hover {
  opacity: .8;
}
.home_info .right .items .item {
  display: none;
}
.home_info .right .items .item:first-child {
  display: block;
}
.home_info .right .items .news {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home_info .right .items .news li {
  display: block;
  letter-spacing: -0.3em;
  margin-bottom: 15px;
}
.home_info .right .items .news li .img {
  display: inline-block;
  vertical-align: top;
}
.home_info .right .items .news li .img img {
  width: 130px;
  height: 130px;
}
.home_info .right .items .news li .description {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  width: 325px;
  padding-left: 15px;
}
.home_info .right .items .news li .description .date {
  background-image: url(../images/calendar.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  line-height: 1.0;
  color: #b7b7b7;
  font-size: 15px;
}
.home_info .right .items .news li .description a {
  text-decoration: none;
}
.home_info .right .items .news li .description h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  color: #343434;
  padding: 7px 0;
}
.home_info .right .items .news li .description p {
  font-size: 15px;
  font-weight: 400;
  color: #343434;
  padding: 0 0 7px;
}
.home_info .right .items .link {
  display: inline-block;
  text-decoration: none;
  color: #b7b7b7;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid #b7b7b7;
  padding: 10px 30px;
  border-radius: 25px;
  margin: 10px 0 0;
}
.home_info .right .items .link:hover {
  text-decoration: none;
  opacity: .8;
}
/*--footer--*/
footer .wrap {
  width: 1000px;
}
footer .left {
  margin-right: -4px;
  display: inline-block;
  position: absolute;
  vertical-align: top;
  width: 50%;
  background-color: #343434;
  z-index: 0;
}
footer .right {
  margin-right: -4px;
  display: inline-block;
  position: absolute;
  vertical-align: top;
  width: 50%;
  margin-left: 50%;
  background-color: #ffc029;
  z-index: 0;
}
footer .links {
  position: absolute;
  display: block;
  width: 700px;
  background-color: #343434;
  z-index: 20;
  letter-spacing: normal;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .links .items {
  display: block;
  width: 700px;
}
footer .links .items .item {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 20px;
}
footer .links .items .item .head {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}
footer .links .items .item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .links .items .item ul li {
  margin-bottom: 10px;
}
footer .links .items .item ul li a {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  color: #b7b7b7;
}
footer .links .items .item ul li a:hover {
  color: #ccc;
}
footer .links .logo {
  margin-top: 20px;
}
footer .contacts {
  position: absolute;
  display: block;
  width: 250px;
  margin-left: 700px;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffc029;
  z-index: 20;
  letter-spacing: normal;
}
footer .contacts h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #343434;
  padding-bottom: 20px;
}
footer .contacts .phones {
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
  color: #343434;
}
footer .contacts .phones .vk {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  background-color: #343434;
  background-image: url(../images/vk.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  padding: 5px;
}
footer .contacts .phones .vk:hover {
  opacity: .7;
}
footer .contacts .phones .tw {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  background-color: #343434;
  background-image: url(../images/tw.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  padding: 5px;
}
footer .contacts .phones .tw:hover {
  opacity: .7;
}
footer .contacts .phones .flamp {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  background-color: #343434;
  background-image: url(../images/flamp.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  padding: 5px;
}
footer .contacts .phones .flamp:hover {
  opacity: .7;
}
footer .contacts .adress {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #343434;
  padding-top: 20px;
}
footer .contacts button {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  line-height: 25px;
  padding: 5px 30px;
  margin: 20px 0 0;
}
footer .contacts button:hover {
  opacity: .7;
}
footer .contacts .made {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  margin-top: 20px;
}
footer .contacts .made a {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #ffe84d;
}
footer .contacts .made .made_logo {
  display: inline-block;
  vertical-align: top;
  margin-top: -12px;
}
/*--bookmarks--*/
.bookmarks {
  display: block;
  position: fixed;
  left: -150px;
  top: 360px;
  z-index: 99999;
  transform: rotate(90deg);
}
.bookmarks a {
  display: inline-block;
  padding: 15px 25px;
}
.bookmarks a:nth-child(1) {
  font-size: 15px;
  color: #343434;
  text-decoration: none;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0);
}
.bookmarks a:nth-child(1):before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 23px;
  height: 18px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/cal.png);
}
.bookmarks a:nth-child(2) {
  background-color: #343434;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
#scrollup {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-image: url(../images/backtotop.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-color: #262626;
  opacity: .4;
  border-radius: 30px;
  z-index: 999;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('../fonts/open-sans-webfont.woff2') format('woff2'), url('../fonts/open-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('../fonts/open-sans-light-webfont.woff2') format('woff2'), url('../fonts/open-sans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('../fonts/open-sans-semibold-webfont.woff2') format('woff2'), url('../fonts/open-sans-semibold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('../fonts/open-sans-bold-webfont.woff2') format('woff2'), url('../fonts/open-sans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"), url('../fonts/roboto_candensed-webfont.woff2') format('woff2'), url('../fonts/roboto_candensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-y: scroll;
}
.wrapper {
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
}
.wrap {
  margin: 0 auto;
  width: 996px;
}
.row {
  margin-left: -30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col2 {
  margin-bottom: 39px;
  padding-left: 30px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}
.col2--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.col3 {
  margin-bottom: 39px;
  padding-left: 30px;
  width: 33.3%;
  display: inline-block;
  box-sizing: border-box;
}
.col3--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
a {
  color: #333333;
}
p {
  margin: 0 0 1em;
}
.fancybox-bg {
  background: #333333;
  opacity: 0.5 !important;
}
.fancybox-slide > * {
  background: #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 1px 15px 0 rgba(51, 51, 51, 0.5);
}
.fancybox-close-small {
  top: 9px;
  right: 11px;
  width: 16px;
  height: 16px;
  background: url("../images/ico-close.png") no-repeat center;
  background-size: 100%;
}
.fancybox-close-small:after {
  display: none;
}
.fancybox-close-small:hover {
  opacity: 0.7;
}
.form__line {
  margin-bottom: 13px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.form__line .form__label {
  margin: 0 0 8px;
  display: block;
}
.form__line:last-child {
  margin-bottom: 0;
}
.form__label {
  line-height: normal;
  font-size: 14px;
  font-weight: bold;
  color: #343434;
}
.calculator .form__label {
  color: #fff;
}
.form__error {
  line-height: normal;
  font-size: 12px;
  color: #ff3300;
}
.form__field {
  position: relative;
}
.form__field input {
  padding: 0 9px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #343434;
  background: #ffffff;
  border: 1px solid #b0b8bf;
  border-radius: 5px;
}
.form__field input:focus {
  border: 1px solid #343434;
}
.form__line--error .form__field input {
  border-color: #ff3300;
}
.form__line .form__field {
  width: 100%;
}
.form__textarea {
  padding: 20px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  line-height: 26px;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  background: #f2f2f2;
  border: none;
}
.form__textarea::-webkit-input-placeholder {
  color: #000;
}
.form__textarea:-moz-placeholder {
  color: #000;
}
.form__textarea::-moz-placeholder {
  color: #000;
}
.form__textarea:-ms-input-placeholder {
  color: #000;
}
.form__textarea:hover {
  background: #e5e5e5;
}
.form__textarea:focus {
  padding: 16px;
  background: #ffffff;
  border: 4px solid #e5e5e5;
}
.form__radio {
  padding: 16px 0;
  min-height: 56px;
  box-sizing: border-box;
  display: block;
}
@media (min-width: 768px) {
  .form__radio {
    padding: 18px 0;
  }
}
.form__radio input {
  display: none;
}
.form__radio input:checked + .form__radio-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background: #333333;
  border-radius: 50%;
}
.form__radio-label {
  padding: 0 0 0 77px;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.form__radio-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: #f2f2f2;
  border-radius: 50%;
}
.form__radio-label:hover:before {
  background: #e5e5e5;
}
.form__radio-label:active:before {
  background: #d5d5d5;
}
.form__radio-label:active:after {
  opacity: 0.3;
}
.form__checkbox {
  padding: 16px 0;
  min-height: 56px;
  box-sizing: border-box;
  display: block;
}
.form__checkbox input {
  display: none;
}
.form__checkbox input:checked + .form__checkbox-label:after {
  content: '';
  margin-top: -2px;
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: 50% 50%;
  width: 21px;
  height: 13px;
  box-sizing: border-box;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}
.form__checkbox-label {
  padding: 0 0 0 77px;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.form__checkbox-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: #f2f2f2;
  border-radius: 4px;
}
.form__checkbox-label:hover:before {
  background: #e5e5e5;
}
.form__checkbox-label:active:before {
  background: #d5d5d5;
}
.form__checkbox-label:active:after {
  opacity: 0.3;
}
.form__note {
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
  color: #333333;
}
.form__select {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 1px solid #b0b8bf;
  border-radius: 5px;
}
.form__select select {
  padding: 0 26px 0 9px;
  position: relative;
  width: 100%;
  height: 43px;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #343434;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__select select:focus {
  outline: none;
}
.form__select:before {
  content: "\f078";
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
  font-family: FontAwesome;
  font-size: 14px;
  color: #333333;
}
.form__select--load {
  border: none;
}
.form__select--load:before {
  display: none;
}
.form__select .select2-container--default .select2-selection--single {
  background: #fff;
  border: 1px solid #b0b8bf;
  border-radius: 5px;
}
.form__select .select2-container .select2-selection--single {
  height: 45px;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 43px;
}
.form__select .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 9px;
  padding-right: 43px;
  font-size: 14px;
  color: #343434;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 43px;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "\f078";
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
  font-family: FontAwesome;
  font-size: 14px;
  color: #333333;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ffb400;
}
.form__file {
  padding-left: 19px;
  overflow: hidden;
  position: relative;
  text-align: left;
}
.form__file:before {
  content: "\f0c6";
  position: absolute;
  left: 0;
  top: 3px;
  line-height: normal;
  font-family: FontAwesome;
  font-size: 14px;
  color: #ffc029;
}
.form__file:hover .form__file:before {
  color: #ffce58;
}
.form__file input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 20;
}
.form__file-label {
  line-height: normal;
  font-size: 14px;
  color: #ffc029;
  border-bottom: 1px dotted #ffc029;
}
.form__file:hover .form__file-label {
  color: #ffce58;
  border-bottom: 1px dotted #ffce58;
}
.btn {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  background: #ffc029;
  border: none;
  cursor: pointer;
  border-radius: 45px;
}
.btn:hover {
  background: #ffce58;
}
.btn--dark {
  color: #fff;
  background: #2c2c2c;
}
.btn--dark:hover {
  background: #2c2c2c;
}
.btn--dark.btn--border {
  color: #2c2c2c;
  border: 2px solid #2c2c2c;
}
.btn--dark.btn--border:hover {
  color: #fff;
}
.btn--border {
  background: transparent;
  border: 2px solid #ffc029;
}
.btn--min-width {
  padding: 0 15px;
  display: inline-block;
  width: auto;
  box-sizing: border-box;
}
.btn--sm {
  height: 38px;
  line-height: 34px;
  font-weight: normal;
}
.modal {
  width: 470px;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #343434;
}
.modal__title {
  margin-bottom: 18px;
  line-height: normal;
  font-size: 24px;
}
.tabs__caption {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
}
.tabs__item {
  margin-right: -1px;
  height: 75px;
  min-width: 218px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #fff;
  border: 1px solid #b0b8bf;
  cursor: pointer;
}
.tabs__item span {
  line-height: normal;
  font-size: 16px;
  font-weight: bold;
  color: #343434;
  border-bottom: 1px dotted #343434;
}
.tabs__item:first-child {
  width: 200px;
  border-radius: 75px 0 0 75px;
}
.tabs__item:last-child {
  width: 200px;
  border-radius: 0 75px 75px 0;
}
.tabs__item:hover {
  background: #ececec;
}
.tabs__item--active {
  position: relative;
  background: #ffc029;
  border-right: 1px solid #ffc029;
  z-index: 1;
}
.tabs__item--active:hover {
  background: #ffc029;
  border-right: 1px solid #ffc029;
}
.tabs__item--active:last-child {
  border-right: inherit;
  border-right: 1px solid #b0b8bf;
}
.tabs__content {
  padding: 32px 30px;
  display: none;
}
.tabs__content--active {
  display: block;
}
.middle {
  padding: 47px 20px 80px;
  letter-spacing: normal;
  color: #343434;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}
.middle h1 {
  margin-top: 22px;
  margin-bottom: 22px;
  letter-spacing: normal;
  color: #343434;
  font-size: 32px;
  font-weight: 700;
}
.middle h1:first-child {
  margin-top: 0;
}
.middle h1 {
  margin-top: 22px;
  margin-bottom: 22px;
  letter-spacing: normal;
  color: #343434;
  font-size: 27px;
  font-weight: 700;
}
.middle h1:first-child {
  margin-top: 0;
}
.middle p {
  margin-bottom: 10px;
}
.middle .alignright {
  float: right;
  margin: 7px 0 0 19px;
}
.middle .alignleft {
  float: left;
  margin: 7px 19px 0 0;
}
.middle ol:not([class]) {
  counter-reset: li;
  padding: 0;
  list-style: none;
}
.middle ol:not([class]) li {
  position: relative;
  margin: 19px 0;
  padding: 0;
}
.middle ol:not([class]) li:before {
  content: counter(li) '.';
  counter-increment: li;
  margin-right: 7px;
  font-weight: 700;
}
.middle ol:not([class]) li b,
.middle ol:not([class]) li strong {
  font-weight: 700;
}
.middle ul:not([class]) {
  padding: 0;
  list-style: none;
}
.middle ul:not([class]) li {
  position: relative;
  margin: 25px 0;
  padding: 0;
}
.middle ul:not([class]) li:before {
  content: '';
  display: inline-block;
  color: #ffb400;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1.5px solid #ffc029;
  margin-right: 10px;
}
.middle ul:not([class]) li b,
.middle ul:not([class]) li strong {
  font-weight: 700;
}
.middle table:not([class]) {
  margin: 22px 0;
  width: 100%;
}
.middle table:not([class]) th {
  padding: 7px 17px;
  text-align: left;
  font-weight: 700;
}
.middle table:not([class]) td {
  padding: 7px 17px;
  text-align: left;
  border-top: 1px solid #e7e7e7;
}
.middle table:not([class]) tr:nth-child(even) td {
  background: #f9f9f9;
}
.header {
  padding: 0 20px;
  position: relative;
  height: 140px;
  background: #343434;
  z-index: 10;
}
.header--fixed {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.header .wrap {
  position: relative;
  height: 100%;
}
.header__logo {
  margin-top: -40px;
  position: absolute;
  left: 0;
  top: 50%;
}
.header--fixed .header__logo {
  display: none;
}
.header__logo--mini {
  display: none;
  position: absolute;
  left: 0;
  top: 8px;
}
.header__logo--mini img {
  height: 40px;
}
.header--fixed .header__logo--mini {
  display: block;
}
.header__slogan {
  position: absolute;
  left: 177px;
  top: 50px;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}
.header__slogan b {
  font-weight: 700;
}
.header--fixed .header__slogan {
  top: 13px;
  left: 143px;
  line-height: normal;
  font-size: 14px;
}
.header--fixed .header__slogan b {
  font-weight: normal;
}
.header__address {
  position: absolute;
  left: 177px;
  top: 100px;
  line-height: normal;
  font-size: 14px;
  color: #cccccc;
}
.header--fixed .header__address {
  display: none;
}
.header__social {
  position: absolute;
  right: -8px;
  top: 57px;
}
.header--fixed .header__social {
  display: none;
}
.header__callme {
  position: absolute;
  right: 118px;
  top: 57px;
}
.header--fixed .header__callme {
  right: 0;
  top: 15px;
}
.header__callme__btn {
  padding: 0 35px;
  font-size: 15px;
  color: #ffb400;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #ffb400;
  border-radius: 15px;
  cursor: pointer;
  line-height: 25px;
}
.header__callme__btn:hover {
  opacity: .9;
}
.header__phones {
  position: absolute;
  right: 337px;
  top: 49px;
  line-height: 22px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.header--fixed .header__phones {
  right: 224px;
  top: 19px;
  font-size: 20px;
}
.header--fixed .header__phones .header__phones-item {
  display: inline-block;
}
.header--fixed .header__phones .header__phones-item:after {
  content: ',';
  margin-right: 3px;
}
.header--fixed .header__phones .header__phones-item:last-child:after {
  display: none;
}
.social {
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.social__item {
  padding: 5px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.social__item:hover {
  opacity: .7;
  background-color: #000;
}
.social__item--vk {
  background-image: url(../images/vk.png);
}
.social__item--tw {
  background-image: url(../images/tw.png);
}
.social__item--flamp {
  background-image: url(../images/flamp.png);
}
.callme-form {
  width: 470px;
}
.callme-form .form {
  padding: 0 33px;
}
.callme-form .btn {
  margin-top: 20px;
}
.callme-form__head {
  margin-bottom: 16px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #343434;
}
.nav {
  padding: 0 20px;
  position: relative;
  background: #e1e1e1;
}
.nav__bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.nav__level1 {
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  list-style: none;
}
.nav__level1-item {
  position: relative;
  display: table;
  -ms-flex-align: center;
      align-items: center;
}
.nav__level1-item > a {
  padding: 0 10px 0 10px;
  display: table-cell;
  height: 60px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 700;
  color: #343434;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.nav__level1-item:hover,
.nav__level1-item--active {
  z-index: 20;
}
.nav__level1-item:hover > a,
.nav__level1-item--active > a {
  background: #e8e8e8;
  border-bottom: 1px solid #aaaaaa;
  box-shadow: 0 1px 10px 0 rgba(42, 42, 42, 0.2);
}
.nav__level1-item:hover .nav__level2 {
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
}
.nav__level2-wrap {
  position: absolute;
  width: 825px;
  left: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
}
.nav__level2 {
  width: 408px;
  list-style: none;
  box-shadow: 0 1px 10px 0 rgba(42, 42, 42, 0.2);
  visibility: hidden;
  transform: translateY(-100%);
  transition: visibility 0s linear 300ms, transform 300ms linear;
}
.nav__level2-item {
  background: #e8e8e8;
  border-bottom: 1px solid #b4b4b4;
}
.nav__level2-item:last-child {
  border-bottom: none;
}
.nav__level2-item:hover > a,
.nav__level2-item--active > a {
  background: #ffc029;
}
.nav__level2-item:hover .nav__level3 {
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0s;
}
.nav__level2-item--has-sublevel > a {
  position: relative;
}
.nav__level2-item--has-sublevel > a:after {
  content: '';
  width: 6px;
  height: 9px;
  position: absolute;
  right: 10px;
  top: 16px;
  background: url("../images/carret.png") no-repeat center;
  background-size: 100%;
}
.nav__level2-item > a {
  padding: 12px 12px 10px;
  display: block;
  text-decoration: none;
  line-height: normal;
  font-size: 15px;
  color: #333333;
}
.nav__level3-wrap {
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  overflow: hidden;
}
.nav__level3 {
  width: 408px;
  list-style: none;
  border-left: 1px solid #b4b4b4;
  box-shadow: 0 1px 10px 0 rgba(42, 42, 42, 0.2);
  visibility: hidden;
  transform: translateX(-100%);
  transition: visibility 0s linear 300ms, transform 300ms linear;
}
.nav__level3-item {
  background: #e8e8e8;
  border-bottom: 1px solid #b4b4b4;
}
.nav__level3-item:last-child {
  border-bottom: none;
}
.nav__level3-item:hover > a,
.nav__level3-item--active > a {
  background: #ffc029;
}
.nav__level3-item > a {
  padding: 12px 12px 10px;
  display: block;
  text-decoration: none;
  line-height: normal;
  font-size: 15px;
  color: #333333;
}
.calculator {
  padding: 66px 20px 53px;
  background: #343434;
  color: #ffffff;
}
.calculator .row {
  margin: 0 -5px 0 -30px;
}
.calculator__title {
  margin-bottom: 35px;
  text-align: center;
  line-height: normal;
  font-size: 36px;
  color: #ffffff;
}
.calculator__title i {
  margin-right: 24px;
}
.calculator__separator {
  margin: 0 -42px 30px;
  border-bottom: 1px solid #5d5d5d;
}
.calculator__note {
  text-align: center;
  line-height: 1.9;
  font-size: 16px;
}
.calculator__note-f24 {
  font-size: 24px;
}
.types {
  padding: 54px 20px 64px;
  background: url("../images/types-bg.jpg") repeat-y center top;
  line-height: normal;
  text-align: center;
  font-size: 18px;
  color: #333333;
}
.types .wrap {
  width: 1010px;
}
.types .tabs {
  margin-top: 25px;
}
.types__title {
  margin-bottom: 28px;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  font-size: 36px;
  color: #333333;
}
.types__btn {
  margin: 0 auto;
  max-width: 311px;
}
.service-premium {
  padding: 74px 20px;
  background: url("../images/service-premium-bg.jpg") repeat-y center top;
  line-height: 1.5;
  font-size: 16px;
  color: #ffffff;
}
.service-premium__title {
  margin-bottom: 24px;
  line-height: normal;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.service-premium__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.service-premium__list {
  margin-left: 60px;
  width: 388px;
}
.service-premium__list-item {
  background: #ffc029;
  border-bottom: 1px solid #2c2c2c;
}
.service-premium__list-item:last-child {
  border-bottom: none;
}
.service-premium__list-item a {
  padding: 19px 0;
  display: block;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #2c2c2c;
}
.service-premium__list-item a:after {
  content: "\f054";
  margin-left: 4px;
  font-family: FontAwesome;
  font-size: 13px;
}
.service-premium__list-item a:hover {
  background: #ffce58;
}
.excursion {
  padding: 0 20px;
  background: #2c2c2c;
}
.excursion .wrap {
  padding: 61px 0 60px 377px;
  min-height: 450px;
  box-sizing: border-box;
  position: relative;
}
.excursion .wrap:before {
  content: '';
  width: 307px;
  height: 450px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../images/excursion-bg.png");
}
.excursion__t1 {
  line-height: normal;
  text-transform: uppercase;
  font-size: 30px;
  color: #ffffff;
}
.excursion__t2 {
  margin-bottom: 2px;
  line-height: normal;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}
.excursion__t3 {
  line-height: normal;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
}
.excursion__btn {
  margin-top: 39px;
  width: 260px;
}
.gallery-slider__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.gallery-slider__wrap {
  width: 660px;
}
.gallery-slider__wrap .bx-wrapper {
  margin-bottom: 0;
  height: 318px;
  box-shadow: none;
  border: none;
}
.gallery-slider__wrap .bx-controls {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
.gallery-slider__wrap .bx-wrapper .bx-pager {
  padding-top: 0;
}
.gallery-slider__wrap .bx-wrapper .bx-pager.bx-default-pager a {
  width: 12px;
  height: 12px;
  background: #e0e0e0;
  border-radius: 6px;
}
.gallery-slider__wrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.gallery-slider__wrap .bx-wrapper .bx-pager.bx-default-pager a:focus,
.gallery-slider__wrap .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #ffc029;
}
.gallery-slider {
  list-style: none;
}
.gallery-slider li {
  float: left;
}
.gallery-slider li img {
  margin-bottom: 20px;
  display: block;
  border: 2px solid #cfcfcf;
}
.gallery-slider li img:last-child {
  margin-bottom: 0;
}
.discount-form {
  padding: 28px 22px;
  width: 297px;
  box-sizing: border-box;
  text-align: center;
  background: #ffc029;
}
.discount-form .form__line {
  margin-bottom: 21px;
}
.discount-form__title {
  margin-bottom: 18px;
  line-height: 30px;
  font-size: 20px;
  color: #333333;
}
/*@import "blocks/main-img.less";
@import "blocks/intro.less";
@import "blocks/info.less";
@import "blocks/info-item.less";
@import "blocks/features.less";
@import "blocks/feedback.less";
@import "blocks/map.less";
@import "blocks/footer.less";
@import "blocks/photo.less";
@import "blocks/video.less";*/
