html,
body,
div,
span,
applet,
object,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
table,
td,
tr,
th {
  outline: 0;
  font-size: 100%;
}
blockquote,
q {
  quotes: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: blue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('/fonts/open-sans-webfont.woff2') format('woff2'), url('/fonts/open-sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('/fonts/open-sans-light-webfont.woff2') format('woff2'), url('/fonts/open-sans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('/fonts/open-sans-semibold-webfont.woff2') format('woff2'), url('/fonts/open-sans-semibold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), url('/fonts/open-sans-bold-webfont.woff2') format('woff2'), url('/fonts/open-sans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-family: "Open Sans", "Arial", sans-serif;
}
.wrapper {
  margin: 0 auto -100px;
  min-height: 100%;
  height: auto !important;
}
.wrapper:after {
  content: '';
  display: block;
  height: 100px;
}
.wrap {
  margin: 0 auto;
  width: 996px;
}
.row {
  margin-left: -30px;
  font-size: 0;
  line-height: 0;
}
.col3 {
  margin-bottom: 39px;
  padding-left: 30px;
  width: 33.3%;
  display: inline-block;
  box-sizing: border-box;
}
.fancybox-bg {
  background: #333333;
  opacity: 0.5 !important;
}
.fancybox-slide > * {
  background: #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 1px 15px 0 rgba(51, 51, 51, 0.5);
}
.fancybox-close-small {
  top: 9px;
  right: 11px;
  width: 16px;
  height: 16px;
  background: url("../images/ico-close.png") no-repeat center;
  background-size: 100%;
}
.fancybox-close-small:after {
  display: none;
}
.fancybox-close-small:hover {
  opacity: 0.7;
}
.form__line {
  margin-bottom: 13px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.form__line .form__label {
  margin: 0 0 8px;
  display: block;
}
.form__line:last-child {
  margin-bottom: 0;
}
.form__label {
  line-height: normal;
  font-size: 14px;
  font-weight: bold;
  color: #343434;
}
.calculator .form__label {
  color: #fff;
}
.form__error {
  line-height: normal;
  font-size: 12px;
  color: #ff3300;
}
.form__field {
  position: relative;
}
.form__field input {
  padding: 0 9px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #343434;
  background: #ffffff;
  border: 1px solid #b0b8bf;
  border-radius: 5px;
}
.form__line--error .form__field input {
  border-color: #ff3300;
}
.form__line .form__field {
  width: 100%;
}
.form__textarea {
  padding: 20px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  line-height: 26px;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  background: #f2f2f2;
  border: none;
}
.form__textarea::-webkit-input-placeholder {
  color: #000;
}
.form__textarea:-moz-placeholder {
  color: #000;
}
.form__textarea::-moz-placeholder {
  color: #000;
}
.form__textarea:-ms-input-placeholder {
  color: #000;
}
.form__textarea:hover {
  background: #e5e5e5;
}
.form__textarea:focus {
  padding: 16px;
  background: #ffffff;
  border: 4px solid #e5e5e5;
}
.form__radio {
  padding: 16px 0;
  min-height: 56px;
  box-sizing: border-box;
  display: block;
}
@media (min-width: 768px) {
  .form__radio {
    padding: 18px 0;
  }
}
.form__radio input {
  display: none;
}
.form__radio input:checked + .form__radio-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background: #333333;
  border-radius: 50%;
}
.form__radio-label {
  padding: 0 0 0 77px;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.form__radio-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: #f2f2f2;
  border-radius: 50%;
}
.form__radio-label:hover:before {
  background: #e5e5e5;
}
.form__radio-label:active:before {
  background: #d5d5d5;
}
.form__radio-label:active:after {
  opacity: 0.3;
}
.form__checkbox {
  padding: 16px 0;
  min-height: 56px;
  box-sizing: border-box;
  display: block;
}
.form__checkbox input {
  display: none;
}
.form__checkbox input:checked + .form__checkbox-label:after {
  content: '';
  margin-top: -2px;
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: 50% 50%;
  width: 21px;
  height: 13px;
  box-sizing: border-box;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}
.form__checkbox-label {
  padding: 0 0 0 77px;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.form__checkbox-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background: #f2f2f2;
  border-radius: 4px;
}
.form__checkbox-label:hover:before {
  background: #e5e5e5;
}
.form__checkbox-label:active:before {
  background: #d5d5d5;
}
.form__checkbox-label:active:after {
  opacity: 0.3;
}
.form__note {
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
  color: #333333;
}
.form__select {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 1px solid #b0b8bf;
  border-radius: 5px;
}
.form__select select {
  padding: 0 26px 0 9px;
  position: relative;
  width: 100%;
  height: 43px;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #343434;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__select select:focus {
  outline: none;
}
.form__select:before {
  content: "\f078";
  position: absolute;
  right: 10px;
  top: 50%;
  font-family: FontAwesome;
  font-size: 14px;
  color: #333333;
}
.form__select--load {
  border: none;
}
.form__select--load:before {
  display: none;
}
.form__select .select2-container--default .select2-selection--single {
  background: #fff;
  border: 1px solid #b0b8bf;
  border-radius: 5px;
}
.form__select .select2-container .select2-selection--single {
  height: 45px;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 43px;
}
.form__select .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 9px;
  padding-right: 43px;
  font-size: 14px;
  color: #343434;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 43px;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "\f078";
  position: absolute;
  right: 10px;
  top: 50%;
  font-family: FontAwesome;
  font-size: 14px;
  color: #333333;
}
.form__select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ffb400;
}
.btn {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  background: #ffc029;
  border: none;
  cursor: pointer;
  border-radius: 45px;
}
.btn:hover {
  background: #fff400;
}
.middle {
  padding: 38px 0 0;
}
@media (min-width: 768px) {
  .middle {
    padding: 69px 60px 0;
  }
}
@media (min-width: 1200px) {
  .middle {
    padding: 104px 120px 0;
  }
}
.middle__text {
  padding: 10px 20px 3px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
@media (min-width: 768px) {
  .middle__text {
    padding: 10px 108px 3px;
  }
}
@media (min-width: 1200px) {
  .middle__text {
    padding: 10px 260px 3px;
  }
}
.middle__h1 {
  margin-bottom: 19px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.middle__h1:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .middle__h1 {
    margin-bottom: 16px;
    font-size: 30px;
  }
}
.middle__h2 {
  margin-bottom: 19px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.middle__h2:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .middle__h2 {
    margin-bottom: 16px;
    font-size: 30px;
  }
}
.header {
  padding: 0 20px;
  position: relative;
  height: 140px;
  background: #343434;
  z-index: 10;
}
.header .wrap {
  position: relative;
  height: 100%;
}
.header__logo {
  margin-top: -40px;
  position: absolute;
  left: 0;
  top: 50%;
}
.header__slogan {
  position: absolute;
  left: 177px;
  top: 50px;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}
.header__slogan b {
  font-weight: 700;
}
.header__address {
  position: absolute;
  left: 177px;
  top: 100px;
  line-height: normal;
  font-size: 14px;
  color: #cccccc;
}
.header__social {
  position: absolute;
  right: -8px;
  top: 57px;
}
.header__callme {
  position: absolute;
  right: 118px;
  top: 57px;
}
.header__callme__btn {
  padding: 0 35px;
  font-size: 15px;
  color: #ffb400;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #ffb400;
  border-radius: 15px;
  cursor: pointer;
  line-height: 25px;
}
.header__callme__btn:hover {
  opacity: .9;
}
.header__phones {
  position: absolute;
  right: 337px;
  top: 49px;
  line-height: 22px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.callme-form {
  width: 470px;
}
.callme-form .form {
  padding: 0 33px;
}
.callme-form .btn {
  margin-top: 20px;
}
.callme-form__head {
  margin-bottom: 16px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: #343434;
}
.nav {
  padding: 0 20px;
  position: relative;
  background: #e1e1e1;
}
.nav__bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.nav__level1 {
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  list-style: none;
}
.nav__level1-item {
  position: relative;
  display: table;
  -ms-flex-align: center;
      align-items: center;
}
.nav__level1-item > a {
  padding: 0 10px 0 10px;
  display: table-cell;
  height: 60px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 700;
  color: #343434;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.nav__level1-item:hover,
.nav__level1-item--active {
  z-index: 20;
}
.nav__level1-item:hover > a,
.nav__level1-item--active > a {
  background: #e8e8e8;
  border-bottom: 1px solid #aaaaaa;
  box-shadow: 0 1px 10px 0 rgba(42, 42, 42, 0.2);
}
.nav__level1-item:hover .nav__level2 {
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
}
.nav__level2-wrap {
  position: absolute;
  width: 825px;
  left: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
}
.nav__level2 {
  width: 408px;
  list-style: none;
  box-shadow: 0 1px 10px 0 rgba(42, 42, 42, 0.2);
  visibility: hidden;
  transform: translateY(-100%);
  transition: visibility 0s linear 300ms, transform 300ms linear;
}
.nav__level2-item {
  background: #e8e8e8;
  border-bottom: 1px solid #b4b4b4;
}
.nav__level2-item:last-child {
  border-bottom: none;
}
.nav__level2-item:hover > a,
.nav__level2-item--active > a {
  background: #ffc029;
}
.nav__level2-item:hover .nav__level3 {
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0s;
}
.nav__level2-item--has-sublevel > a {
  position: relative;
}
.nav__level2-item--has-sublevel > a:after {
  content: '';
  width: 6px;
  height: 9px;
  position: absolute;
  right: 10px;
  top: 16px;
  background: url("../images/carret.png") no-repeat center;
  background-size: 100%;
}
.nav__level2-item > a {
  padding: 12px 12px 10px;
  display: block;
  text-decoration: none;
  line-height: normal;
  font-size: 15px;
  color: #333333;
}
.nav__level3-wrap {
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  overflow: hidden;
}
.nav__level3 {
  width: 408px;
  list-style: none;
  border-left: 1px solid #b4b4b4;
  box-shadow: 0 1px 10px 0 rgba(42, 42, 42, 0.2);
  visibility: hidden;
  transform: translateX(-100%);
  transition: visibility 0s linear 300ms, transform 300ms linear;
}
.nav__level3-item {
  background: #e8e8e8;
  border-bottom: 1px solid #b4b4b4;
}
.nav__level3-item:last-child {
  border-bottom: none;
}
.nav__level3-item:hover > a,
.nav__level3-item--active > a {
  background: #ffc029;
}
.nav__level3-item > a {
  padding: 12px 12px 10px;
  display: block;
  text-decoration: none;
  line-height: normal;
  font-size: 15px;
  color: #333333;
}
.calculator {
  padding: 66px 20px 53px;
  background: #343434;
  color: #ffffff;
}
.calculator__title {
  margin-bottom: 35px;
  text-align: center;
  line-height: normal;
  font-size: 36px;
  color: #ffffff;
}
.calculator__title i {
  margin-right: 24px;
}
.main-img {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #e4f1fa;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .main-img {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-img {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .main-img {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-img {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .main-img {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
.main-img:before {
  content: '';
  position: absolute;
  right: 50%;
  bottom: 0;
  border-style: solid;
  border-width: 57px 0 0 350px;
  border-color: transparent transparent transparent #ffffff;
}
.main-img:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 57px 350px;
  border-color: transparent transparent #ffffff transparent;
}
.main-img__text {
  padding: 84px 20px 84px;
  margin: 0 auto;
  max-width: 461px;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 768px) {
  .main-img__text {
    padding: 79px 20px 86px;
    max-width: 497px;
  }
}
@media (min-width: 1200px) {
  .main-img__text {
    max-width: 490px;
  }
}
.main-img__text:before {
  content: '';
  position: absolute;
  right: 50%;
  bottom: 0;
  border-style: solid;
  border-width: 57px 0 0 600px;
  border-color: transparent transparent transparent #ffffff;
}
.main-img__text:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 57px 600px;
  border-color: transparent transparent #ffffff transparent;
}
.main-img--inner-page .main-img__text {
  padding: 50px 20px 64px;
  margin: 0 auto;
  max-width: 230px;
}
@media (min-width: 768px) {
  .main-img--inner-page .main-img__text {
    padding: 93px 20px 111px;
    max-width: 458px;
  }
}
@media (min-width: 1200px) {
  .main-img--inner-page .main-img__text {
    padding: 96px 20px 119px;
  }
}
.main-img__text img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.intro {
  padding: 42px 20px 5px;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .intro {
    padding: 46px 60px 51px;
  }
}
@media (min-width: 1200px) {
  .intro {
    padding: 50px 60px 51px;
  }
}
.intro:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 38px 384px 0 384px;
  border-color: #ffffff transparent transparent transparent;
  z-index: 10;
}
@media (min-width: 768px) {
  .intro:after {
    display: none;
  }
}
.intro__title {
  padding: 0 10px;
  margin-bottom: 28px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 21px;
  }
}
.intro__text {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 14px;
  color: #333333;
}
.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media (min-width: 768px) {
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
@media (min-width: 768px) {
  .info__item {
    width: 33.3%;
  }
}
@media (min-width: 768px) {
  .info__item--full-width {
    width: 100%;
  }
}
.info-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background: #eeeeee;
}
.info-item:first-child {
  padding-top: 39px;
}
@media (min-width: 768px) {
  .info-item:first-child {
    padding-top: 0;
  }
}
.info-item--accent {
  background: #81b3d2;
}
@media (min-width: 768px) {
  .info-item--accent {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
.info-item__body {
  padding: 27px 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .info-item__body {
    padding: 42px 50px 45px;
  }
}
@media (min-width: 1200px) {
  .info-item__body {
    padding: 44px 69px 61px;
  }
}
.info-item--accent .info-item__body {
  padding: 39px 20px 40px;
}
@media (min-width: 768px) {
  .info-item--accent .info-item__body {
    padding: 45px 44px 40px;
    width: 33.3%;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .info-item--accent .info-item__body {
    padding: 51px 56px 45px;
  }
}
.info-item__title {
  margin-bottom: 13px;
  line-height: normal;
  text-transform: uppercase;
  font-size: 18px;
  color: #333333;
}
@media (min-width: 768px) {
  .info-item__title {
    line-height: 26px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .info-item__title {
    padding: 0 51px;
    font-weight: bold;
  }
}
.info-item--accent .info-item__title {
  margin-bottom: 11px;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .info-item--accent .info-item__title {
    padding: 0 36px;
    font-weight: normal;
  }
}
.info-item__num {
  margin-bottom: 17px;
  line-height: normal;
  font-size: 14px;
  color: #333333;
}
@media (min-width: 768px) {
  .info-item__num {
    margin-bottom: 24px;
  }
}
.info-item--accent .info-item__num {
  color: #ffffff;
}
.info-item__num:before {
  content: '—';
  margin-right: 3px;
  display: inline-block;
  vertical-align: top;
}
.info-item__num:after {
  content: '—';
  margin-left: 1px;
  display: inline-block;
  vertical-align: top;
}
.info-item__text {
  padding-bottom: 27px;
  line-height: 21px;
  text-transform: uppercase;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: 14px;
  color: #333333;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .info-item__text {
    padding-bottom: 0;
    border-bottom: none;
  }
}
.info-item--accent .info-item__text {
  padding-bottom: 0;
  color: #ffffff;
  border-bottom: none;
}
.info-item:last-child .info-item__text {
  border-bottom: none;
}
.info-item__img {
  height: 260px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .info-item__img {
    -ms-flex-preferred-size: 66.7%;
        flex-basis: 66.7%;
    max-height: 256px;
  }
}
.info-item__img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .info-item--reverse .info-item__img {
    -ms-flex-order: -1;
        order: -1;
  }
}
.features {
  padding: 37px 20px 42px;
}
@media (min-width: 768px) {
  .features {
    padding: 61px 0 32px;
  }
}
@media (min-width: 1200px) {
  .features {
    padding: 61px 0 51px;
  }
}
.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .features__list {
    display: -ms-flexbox;
    display: flex;
  }
}
.features__item {
  padding-left: 48px;
  margin-bottom: 29px;
  position: relative;
}
.features__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .features__item {
    padding: 98px 40px 0;
    width: 33.3%;
    text-align: center;
  }
}
.features__item--house:before {
  content: '';
  position: absolute;
  left: 0;
  top: -9px;
  width: 37px;
  height: 35px;
  background: url("../img/icon-house.svg") no-repeat;
  background-size: 100%;
}
@media (min-width: 768px) {
  .features__item--house:before {
    width: 75px;
    height: 72px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
.features__item--souvenirs:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -11px;
  width: 32px;
  height: 38px;
  background: url("../img/icon-gift.svg") no-repeat;
  background-size: 100%;
}
@media (min-width: 768px) {
  .features__item--souvenirs {
    -ms-flex-order: 1;
        order: 1;
  }
  .features__item--souvenirs:before {
    width: 64px;
    height: 75px;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
  }
}
.features__item--food:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -4px;
  width: 38px;
  height: 35px;
  background: url("../img/icon-burger.svg") no-repeat;
  background-size: 100%;
}
@media (min-width: 768px) {
  .features__item--food:before {
    width: 77px;
    height: 70px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
.features__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
@media (min-width: 768px) {
  .features__title {
    margin-bottom: 22px;
    font-size: 21px;
  }
}
.features__text {
  line-height: 21px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
}
@media (min-width: 1200px) {
  .features__text {
    padding: 0 34px;
  }
}
.feedback {
  padding: 24px 20px 48px;
}
@media (min-width: 768px) {
  .feedback {
    padding: 50px 20px 56px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    padding: 50px 20px 65px;
  }
}
.feedback__body {
  margin: 0 auto;
  max-width: 457px;
  text-align: center;
}
.feedback__title {
  margin-bottom: 23px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 768px) {
  .feedback__title {
    font-size: 30px;
  }
}
.feedback__text {
  margin-bottom: 35px;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}
@media (min-width: 768px) {
  .feedback__text {
    margin-bottom: 44px;
    padding: 0 29px;
  }
}
@media (min-width: 1200px) {
  .feedback__text {
    margin-bottom: 49px;
  }
}
.map {
  height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #c9dda2;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-size: 100%;
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-desktop@2x.jpg");
  }
}
.map:after {
  content: '';
  width: 27px;
  height: 27px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/icon-map-marker.svg") no-repeat center;
  background-size: 100%;
}
.footer {
  padding: 34px 20px 18px;
  text-align: center;
  background: #fff;
}
@media (min-width: 768px) {
  .footer {
    padding: 35px 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 36px 44px 36px 132px;
  }
}
.footer__hashtag {
  margin: 0 0 37px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 768px) {
  .footer__hashtag {
    margin: 0;
  }
}
.footer__social {
  margin: 0 0 40px;
}
@media (min-width: 768px) {
  .footer__social {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .footer__social {
    margin-left: -97px;
  }
}
.footer__development-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}
.footer__development-img {
  margin-left: 10px;
  width: 27px;
  height: 34px;
  vertical-align: middle;
}
.footer__development-link:hover .footer__development-img {
  fill: #81b3d2;
}
.footer__development-link:active .footer__development-img {
  fill: #b2b2b2;
}
.social {
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.social__item {
  padding: 5px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.social__item:hover {
  opacity: .7;
  background-color: #000;
}
.social__item--vk {
  background-image: url(../images/vk.png);
}
.social__item--tw {
  background-image: url(../images/tw.png);
}
.social__item--flamp {
  background-image: url(../images/flamp.png);
}
.photo {
  margin-top: 25px;
  margin-bottom: 33px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .photo {
    margin-top: 65px;
    margin-bottom: 57px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .photo {
    margin: 70px -120px 57px;
  }
}
.photo__item {
  padding: 21px 20px 4px;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .photo__item {
    padding: 0;
    width: 50%;
    position: relative;
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .photo__item {
    width: 33.33%;
  }
}
@media (min-width: 768px) {
  .photo__item--main {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .photo__item--main {
    width: 100%;
  }
}
.photo__img {
  line-height: 0;
  font-size: 0;
  height: 280px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .photo__img {
    height: 266px;
  }
}
@media (min-width: 768px) {
  .photo__item--main .photo__img {
    height: 398px;
  }
}
.photo__img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.photo__body {
  padding: 16px 0 14px;
}
@media (min-width: 768px) {
  .photo__body {
    padding: 18px 19px 20px 22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    background: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .photo__body {
    padding: 17px 21px 19px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
  }
}
.photo__title-wrap {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .photo__title-wrap {
    margin-bottom: 0;
  }
}
.photo__title {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
@media (min-width: 768px) {
  .photo__title {
    margin-bottom: 2px;
  }
}
@media (min-width: 1200px) {
  .photo__title {
    color: #fff;
  }
}
.photo__author {
  line-height: normal;
  font-size: 14px;
  color: #333333;
}
@media (min-width: 1200px) {
  .photo__author {
    color: #fff;
  }
}
.photo__like {
  text-decoration: none;
  color: #000;
}
@media (min-width: 768px) {
  .photo__like {
    padding-left: 31px;
  }
}
@media (min-width: 1200px) {
  .photo__like {
    color: #fff;
  }
}
.photo__like-ico {
  margin-right: 9px;
  width: 22px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .photo__like-ico {
    margin-right: 5px;
  }
}
.photo__like-ico svg {
  width: 100%;
  height: 100%;
  fill: #b2b2b2;
}
@media (min-width: 1200px) {
  .photo__like-ico svg {
    fill: #fff;
  }
}
.photo__like-num {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}
.video {
  margin: 32px auto 40px;
  position: relative;
  max-width: 800px;
}
@media (min-width: 768px) {
  .video {
    margin: 72px auto 40px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .video {
    margin-bottom: 84px;
  }
}
.video__video {
  height: 201px;
}
@media (min-width: 768px) {
  .video__video {
    height: 100%;
  }
}
.video__poster {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video__poster img {
  width: 100%;
  height: auto;
}
.video__controls {
  margin: 0 20px;
  height: 66px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  background: #f2f2f2;
}
@media (min-width: 768px) {
  .video__controls {
    margin: 0;
    height: 93px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}
.video__progress-bar-wrap {
  padding: 22px 22px 20px;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
  .video__progress-bar-wrap {
    margin: 0 auto 0 0;
    padding: 0;
    position: relative;
    left: auto;
    bottom: auto;
    width: 60%;
    background: rgba(255, 255, 255, 0.2);
  }
}
.video__progress-bar {
  position: relative;
  height: 3px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.video__progress-bar-slider {
  margin: -4.5px 0 0 -4.5px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 22%;
  top: 50%;
  border-radius: 50%;
  background: #fff;
}
.video__controls-item svg {
  width: 100%;
  height: 100%;
  fill: #5c6870;
}
@media (min-width: 768px) {
  .video__controls-item svg {
    fill: #fff;
  }
}
.video__controls-item svg:hover {
  fill: #333333;
}
.video__controls-item svg:active {
  fill: #c1c1c1;
}
.video__controls-item--restart {
  margin: 0 auto 0 24px;
  display: block;
  width: 16px;
  height: 20px;
}
@media (min-width: 768px) {
  .video__controls-item--restart {
    -ms-flex-order: -1;
        order: -1;
    margin-left: 35px;
    margin-right: 40px;
  }
}
.video__controls-item--captions {
  display: block;
  width: 32px;
  height: 20px;
}
.video__controls-item--fullscreen {
  margin: 0 23px 0 31px;
  display: block;
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .video__controls-item--fullscreen {
    margin-right: 41px;
  }
}
