.header {
  padding: 0 20px;
  position: relative;
  height: 140px;
  background: #343434;
  z-index: 10;
  .wrap {
    position: relative;
    height: 100%;
  }
}

.header__logo {
  margin-top: -40px;
  position: absolute;
  left: 0;
  top: 50%;
}

.header__slogan {
  position: absolute;
  left: 177px;
  top: 50px;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  b {
    font-weight: 700;
  }
}

.header__address {
  position: absolute;
  left: 177px;
  top: 100px;
  line-height: normal;
  font-size: 14px;
  color: #cccccc;
}

.header__social {
  position: absolute;
  right: -8px;
  top: 57px;
}

.header__callme {
  position: absolute;
  right: 118px;
  top: 57px;
}

.header__callme__btn {
  padding: 0 35px;
  font-size: 15px;
  color: #ffb400;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffb400;
  border-radius: 15px;
  cursor: pointer;
  line-height: 25px;
  &:hover {
    opacity: .9;
  }
}

.header__phones {
  position: absolute;
  right: 337px;
  top: 49px;
  line-height: 22px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
