.nav {
  padding:0 20px;
  position: relative;
  background: #e1e1e1;
}

.nav__level1{
  display: flex;
  height: 60px;
  list-style: none;
}

.nav__level1-item{
  display: table;
  align-items: center;
  > a{
    padding: 0 10px 0 10px;
    display: table-cell;
    height:60px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 700;
    color: #343434;
    text-decoration: none;
    border-bottom:1px solid transparent;
    &:hover, .nav__level1-item--active &{
      background: #e8e8e8;
      border-bottom:1px solid #aaaaaa;
      box-shadow: 0 1px 10px 0 rgba(42,42,42,0.2);
    }
  }
}
