.tabs__caption {
  display: flex;
  justify-content: center;
  list-style: none;
}

.tabs__item {
  margin-right: -1px;
  height: 75px;
  min-width: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #b0b8bf;
  cursor: pointer;

  span {
    line-height: normal;
    font-size: 16px;
    font-weight: bold;
    color: #343434;
    border-bottom: 1px dotted #343434;
  }

  &:first-child {
    min-width: 200px;
    border-radius: 75px 0 0 75px;
  }

  &:last-child {
    width: 203px;
    border-radius: 0 75px 75px 0;
  }

  &:hover {
    background: #ececec;
  }

  &--active {
    position: relative;
    background: #ffc029;
    border-right: 1px solid #ffc029;
    z-index: 1;

    &:hover {
      background: #ffc029;
      border-right: 1px solid #ffc029;
    }

    &:last-child {
      border-right: inherit;
      border-right: 1px solid #b0b8bf;
    }
  }
}

.tabs__content {
  padding: 33px 30px 39px;
  display: none;
  line-height:1.8;
}

.tabs__content--active {
  display: block;
}