body {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-family: "Open Sans", "Arial", sans-serif;
}

.wrapper {
  margin: 0 auto -100px;
  min-height: 100%;
  height: auto !important;
  &:after {
    content: '';
    display: block;
    height: 100px;
  }
}

.wrap {
  margin: 0 auto;
  width: 996px;
}

.row {
  margin-left: -30px;
  font-size: 0;
  line-height: 0;
}

.col3 {
  margin-bottom: 39px;
  padding-left: 30px;
  width: 33.3%;
  display: inline-block;
  box-sizing: border-box;
}
