<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="all"  href="../css/libs/libs.css">
    <link rel="stylesheet" media="all"  href="../css/template_styles.css">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="wrap">
            <div class="header__logo"><a href="/"><img alt="logo" src="../images/logo.png"></a></div>
            <div class="header__slogan">
                <b>Комплексный ремонт</b><br> квартир, коттеджей и офисов
            </div>
            <div class="header__address">
                Новосибирск, ул. Военная, д. 4
            </div>
            <div class="header__phones">
                +7 (383) 207-54-53<br>+7 (923) 222-33-31<br>
            </div>
            <div class="header__callme"><button class="header__callme__btn js-callme">Обратный звонок</button></div>
            <div class="header__social social">
                <a href="http://novosibirsk.flamp.ru/firm/omis_ooo_torgovo_remontnaya_kompaniya-141265771001096" class="social__item social__item--flamp" target="_blank"></a>
                <a href="https://twitter.com/tdomis54" class="social__item social__item--tw" target="_blank"></a>
                <a href="http://vk.com/club57244857" class="social__item social__item--vk" target="_blank"></a>
            </div>
            <div class="callme-form">
                <form action="" class="form">
                    <div class="callme-form__head">
                        Чтобы узнать стоимость,
                        укажите свои контактные данные,
                        и мы перезвоним вам в течении 15 минут
                    </div>
                    <div class="form__line form__line--error">
                        <label class="form__label">Ваше имя:</label>
                        <div class="form__error">Укажите ваше имя</div>
                        <div class="form__field"><input type="text"></div>
                    </div>
                    <div class="form__line">
                        <label class="form__label">Ваше имя:</label>
                        <div class="form__field"></div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <!-- header-->
    <section class="middle">
        <table class="content_cont" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="1%" valign="top">
                    <aside class="sideLeft">
                    </aside>

                    <!-- .sideLeft --></td>
                <td valign="top">
                    <div class="container">
                        <div class="content">
                            <h1>«ООО «ДИРСИС» </h1>
                        </div>
                        <!-- .content-->
                    </div>
                    <!-- .container--></td>
            </tr>
        </table>
    </section>
    <!-- .middle-->
</div>
<!-- .wrapper -->
<footer>
    <div class="wrap">
        <div class="footer-logo"><a href="#"><img src="../images/logo.png" alt=""/></a></div>
        <div class="development">Разработка сайта - <a target="_blank" href="http://www.sebekon.ru/">SEBEKON</a></div>
        <div class="phone">Контактный телефон: <a href="tel:+78007750238">8 (800) 775-02-38</a></div>
    </div>
</footer>
<!--footer-->
</body>

<script type="text/javascript" src="../js/libs/lib.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>