<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="all"  href="../css/libs/libs.css">
    <link rel="stylesheet" media="all"  href="../css/template_styles.css">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="wrap">
            <div class="header__logo"><a href="/"><img alt="logo" src="../images/logo.png"></a></div>
            <div class="header__slogan">
                <b>Комплексный ремонт</b><br> квартир, коттеджей и офисов
            </div>
            <div class="header__address">
                Новосибирск, ул. Военная, д. 4
            </div>
            <div class="header__phones">
                +7 (383) 207-54-53<br>+7 (923) 222-33-31<br>
            </div>
            <div class="header__callme"><a href="#callme-form" class="header__callme__btn js-callme">Обратный звонок</a></div>
            <div class="header__social social">
                <a href="http://novosibirsk.flamp.ru/firm/omis_ooo_torgovo_remontnaya_kompaniya-141265771001096" class="social__item social__item--flamp" target="_blank"></a>
                <a href="https://twitter.com/tdomis54" class="social__item social__item--tw" target="_blank"></a>
                <a href="http://vk.com/club57244857" class="social__item social__item--vk" target="_blank"></a>
            </div>
            <div class="callme-form" id="callme-form" style="display: none">
                <form action="" class="form">
                    <div class="callme-form__head">
                        Чтобы узнать стоимость, <br>
                        укажите свои контактные данные,
                        и мы перезвоним вам в течении 15 минут
                    </div>
                    <div class="form__line form__line--error">
                        <label class="form__label">Ваше имя:</label>
                        <div class="form__error">Укажите ваше имя</div>
                        <div class="form__field">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form__line">
                        <label class="form__label">Телефон:</label>
                        <div class="form__field"><input type="text" value="+7 (913) 733-18-03"></div>
                    </div>
                    <div class="form__line">
                        <label class="form__label">E-mail:</label>
                        <div class="form__field"><input type="text" value="misterx@list.ru"></div>
                    </div>
                    <div class="form__line">
                        <input class="btn" type="submit" value="Узнать стоимость">
                    </div>
                </form>
            </div>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__bg"></div>
        <div class="wrap">
            <ul class="nav__level1">
                <li class="nav__level1-item"><a href="#">Главная</a></li><!--класс nav__level1-item--active добавлять для активного пункта меню-->
                <li class="nav__level1-item"><a href="#">О компании</a></li>
                <li class="nav__level1-item"><a href="#">Виды ремонта</a>
                    <div class="nav__level2-wrap">
                        <ul class="nav__level2">
                            <li class="nav__level2-item nav__level2-item--has-sublevel"><!--класс nav__level2-item--active добавлять для активного пункта меню, класс nav__level2-item--has-sublevel для пункта меню, у которого есть подменю -->
                                <a href="#">Частным лицам</a>
                                <div class="nav__level3-wrap">
                                    <ul class="nav__level3">
                                        <li class="nav__level3-item"><a href="#">Ремонт квартир</a></li>
                                        <li class="nav__level3-item"><a href="#">Ремонт апартаментов</a></li>
                                        <li class="nav__level3-item"><a href="#">Ремонт пент-хаусов</a></li>
                                        <li class="nav__level3-item"><a href="#">Ремонт коттеджей и загородных домов</a></li>
                                        <li class="nav__level3-item"><a href="#">Ремонт дачных домов</a></li>
                                        <li class="nav__level3-item"><a href="#">Ремонт таунхаусов</a></li>
                                        <li class="nav__level3-item"><a href="#">Ремонт элитного жилья</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav__level2-item nav__level2-item--has-sublevel"><a href="#">Бизнесу</a></li>
                            <li class="nav__level2-item nav__level2-item--has-sublevel"><a href="#">Фасадные работы</a></li>
                            <li class="nav__level2-item nav__level2-item--has-sublevel"><a href="#">Услуги дизайнера</a></li>
                            <li class="nav__level2-item nav__level2-item--has-sublevel"><a href="#">Изготовление корпусной мебели</a></li>
                            <li class="nav__level2-item nav__level2-item--has-sublevel"><a href="#">Изготовление и монтаж оконных конструкций</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav__level1-item"><a href="#">Материалы</a></li>
                <li class="nav__level1-item"><a href="#">Дизайн интерьера</a></li>
                <li class="nav__level1-item"><a href="#">Прайс</a></li>
                <li class="nav__level1-item"><a href="#">Наши предложения</a></li>
                <li class="nav__level1-item"><a href="#">Галерея работ</a></li>
                <li class="nav__level1-item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
    <section class="calculator">
        <div class="wrap">
            <div class="calculator__title">
                <i class="fa fa-calculator" aria-hidden="true"></i>РАССЧИТАЙТЕ СТОИМОСТЬ РЕМОНТА
            </div>
            <div class="row">
                <div class="col3">
                    <div class="form__line">
                        <label class="form__label">Что вы хотите отремонтировать?</label>
                        <div class="form__select">
                            <select name="" id="">
                                <option value="">Квартира</option>
                                <option value="">Квартира</option>
                                <option value="">Квартира</option>
                                <option value="">Квартира</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col3">
                    <div class="form__line">
                        <label class="form__label">Выберите вид ремонта:</label>
                        <div class="form__select">
                            <select name="" id="">
                                <option value="">Эксклюзивный</option>
                                <option value="">Эксклюзивный</option>
                                <option value="">Эксклюзивный</option>
                                <option value="">Эксклюзивный</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col3">
                    <div class="form__line">
                        <label class="form__label">Введите значение площади (м2)</label>
                        <div class="form__select">
                            <select name="" id="">
                                <option value="">10</option>
                                <option value="">20</option>
                                <option value="">30</option>
                                <option value="">40</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col3">
                    <div class="form__line">
                        <label class="form__label">Кол-во комнат:</label>
                        <div class="form__select">
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col3">
                    <div class="form__line">
                        <label class="form__label">Вам нужен дизайн-проект?</label>
                        <div class="form__select">
                            <select name="" id="">
                                <option value="">Да</option>
                                <option value="">Нет</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col3">
                    <div class="form__line">
                        <label class="form__label">Вы можете отправить нам документацию
                            для составления более точной сметы</label>
                        <div class="form__file">
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="calculator__separator"></div>
        </div>
    </section>
    <section class="middle">
        <table class="content_cont" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="1%" valign="top">
                    <aside class="sideLeft">
                    </aside>

                    <!-- .sideLeft --></td>
                <td valign="top">
                    <div class="container">
                        <div class="content">
                            <h1>«ООО «ДИРСИС» </h1>
                        </div>
                        <!-- .content-->
                    </div>
                    <!-- .container--></td>
            </tr>
        </table>
    </section>
    <!-- .middle-->
</div>
<!-- .wrapper -->
<footer>
    <div class="wrap">
        <div class="footer-logo"><a href="#"><img src="../images/logo.png" alt=""/></a></div>
        <div class="development">Разработка сайта - <a target="_blank" href="http://www.sebekon.ru/">SEBEKON</a></div>
        <div class="phone">Контактный телефон: <a href="tel:+78007750238">8 (800) 775-02-38</a></div>
    </div>
</footer>
<!--footer-->
</body>

<script type="text/javascript" src="../js/libs/libs.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>